<tr>
  <td>
    <% if user.image.attached? %>
      <%= image_tag user.image.variant( resize: '40') %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: '40x40' %>
    <% end %>
  </td>
  <td><%= user.name %></td>
  <td>フォロー数：<%= user.following_count %></td>
  <td>フォロワー数：<%= user.followers_count %></td>
  <td class='user_relationships_botton_<%= user.id %>'><%= render 'relationships/botton', user: user %></td>
  <td><%= link_to 'show', user_path(user) %></td>
</tr>