<tr>
  <td>
    <%= link_to user_path(@user) do %>
      <% if @user.image.attached? %>
        <%= image_tag @user.image.variant( resize: '40') %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: '40x40' %>
      <% end %>
    <% end %>
  </td>
  <td><%= link_to book.title, book_path(book) %></td>
  <td><%= book.body %></td>
</tr>